<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <targets>
    <target name="logfile" xsi:type="File"
			cleanupFileName="false"
            fileName="..\logs\web.log.txt"
            maxArchiveFiles="6"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM"
            archiveEvery="Month"
            archiveFileName="..\logs\web.log_{#}.txt"
            layout="${date:format=dd.MM.yyyy HH\:mm\:ss} ${level:uppercase=true} ${message} ${exception:format:Message,Type,StackTrace:maxInnerExceptionLevel=3:innerFormat=Message,Type,StackTrace:separator=\n}"
            concurrentWrites="True"
            keepFileOpen="True" />

    <target name="authenticationfile" xsi:type="File"
            cleanupFileName="false"
            fileName="..\Logs\auth.log.txt"
            maxArchiveFiles="400"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day"
            archiveFileName="..\logs\auth.log_{#}.txt"
            layout="${date:format=dd.MM.yyyy HH\:mm\:ss} ${message}"
            concurrentWrites="True"
            keepFileOpen="True"
            autoFlush="True" />
    <target name="sqlfile" xsi:type="File"
            cleanupFileName="false"
            fileName="..\Logs\sql.log.txt"
            maxArchiveFiles="400"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day"
            archiveFileName="..\logs\sql.log_{#}.txt"
            layout="${date:format=dd.MM.yyyy HH\:mm\:ss} ${message}"
            concurrentWrites="True"
            keepFileOpen="True"
            autoFlush="True" />
  </targets>

  <rules>
    <logger name="AUTH" writeTo="authenticationfile" final="true" />
    <logger name="SQL" writeTo="sqlfile" final="true" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>