@keyframes stripes {
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}

@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}