@model ReactNetCoreBase.Controllers.HomeController.Model

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>React - Netcore</title>    
    <link rel="stylesheet" href="~/dist/vendor.css?v=@Model.CacheDate" type="text/css" />
</head>
<body>
    <script>
        var serverInfos = {};
        serverInfos.cacheDate = '@Model.CacheDate';
        serverInfos.profile = @Json.Serialize(Model.Profile);
    </script>
    <script src="~/dist/vendor.js?v=@Model.CacheDate"></script>
    <script src="~/dist/main.js?v=@Model.CacheDate"></script>
</body>
</html>